<strong>Payment Terms:</strong> All products are sold F.O.B. Fonality's facility, Los Angeles, California,
upon terms of 100% of payment due before shipment &#8212; unless otherwise agreed upon by sales person.
Payment must be made by check or wire transfer for orders over $10,000 USD.
