<!-- submit status window -->
<div id="status-window">
    <table width="100%">
        <tr>
            <td width="65" height="100" valign="middle" align="center"><img src="images/loading_large.gif" width="40" height="40"></td>
            <td width="200" height="100" valign="middle" align="left" id="status-message">status window</td>
        </tr>
    </table>
</div>

<!-- End submit status window -->