<div class="wrapperDiv">
        <div class="floatLeft">
            <h3 style="">[% CATEGORY.name %]</h3>
        </div>
        <div class="floatRight">
            <input type="button" class="nav_prev_button[% IF HIDDEN == 1 %] nav_hidden[% END %] quote_nav_button" value="Previous">
            <input type="button" class="nav_next_button[% IF HIDDEN == 1 %] nav_hidden[% END %] quote_nav_button" value="Next">
            <input type="button" class="nav_review_button[% IF HIDDEN == 1 %] nav_hidden[% END %]" value="Review Quote">
        </div>
</div> 