Dear $customerName,

Attached are your phone usage details from $startDate to $endDate.

If you have any questions, please contact our Billing department at 877-366-2548, option 4.

Thank you,
The Fonality Team