[% INCLUDE 'tt/email/header.tt' %]
<h4>Dear [% USER_INFO.first_name %],</h4>

<p>Your password has been reset by your administrator.

<p>New password: [% NEW_PASS %]
[% INCLUDE 'tt/email/footer.tt' %]
