<!--
<div>
	<p>Get $750 off when you purchase PBXtra Call Center Edition and HUD Agent with 10 seats or less.
	You will see this discount applied on your quote and on order confirmation.
	Order must be submitted by 06/30/08; new customers only.
	<a href="javascript:popUp('[% HOST %]pop.cgi?page=little_guy.tt',700,650,0)">Why does this discount only apply to 10 seats or less?</a>
</div>
-->
